<div class="container">
    <div class="row">
        <div class="span2"><a href="#/alunos/new" class="btn btn-primary">Novo</a></div>
        
    </div>

    <div class="row">
        <div class="lead"> Alunos:</div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr ng-repeat="entity in entities">
                        <td><a class="btn btn-primary" href="#/alunos/{{entity.id}}">View</a>
                            <a class="btn btn-danger" ng-click="delete(entity)">Delete</a></td>
                        <td>{{entity.nome}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>