<div class="container">
    <div class="row">
        <div class="span2"><a href="#/novoAluno" class="btn btn-primary">Novo</a></div>
        
    </div>

    <div class="row">
        <div class="lead"> Alunos:</div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="aluno in alunos">
                        <td>{{aluno.nome}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>